@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700;800;900&display=swap');

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Public Sans';
}

/* section{
 height: 100vh;
 display: flex;
 align-items: center;
} */

.container {
  max-width: 1440px;
  min-width: 100%;
  padding: 0 100px;
  margin: 0 auto;
  height: 100%;
}

.container h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #092e4e;
  font-weight: 800;
}

.container h4 {
 
}

.container h4 span {
 color:#dd584e;
}

.container .header{
  text-align: center;
  margin-bottom: 40px;
}

.hero {
  height: 100vh;
  padding: 0 100px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url(./images/hero-img.jpg);
  position: relative;
}

.hero-content {
  height: 100%;
  display: grid;
  place-content: center;
  text-align: center;
  gap: 10px;
}

.hero-content h1 {
  font-size: 75px;
  line-height: 0.9;
  margin: 10px 0;
  color: aliceblue;
}

.hero-content h6 {
  font-size: 30px;
  color: aliceblue;
}

.hero-content h6 span {
  color: blue;
}

.greet {
  text-transform: capitalize;
  font-weight: 600;
  color: #ffffff;
}

.hero-content p {
  color: #ffffff;
}

.btn {
  margin-top: 50px;
}

.btn a {
  text-decoration: none;
  padding: 15px 25px;
  background-color: blue;
  color: #ffffff;
}


.header {
  text-align: center;
  padding: 20px 0;
}

.roadmap {
 min-height: 100vh;
 width: 100vw;
 display: flex;
 align-items: center;
}

.roadmap-wrapper{
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap: 25px;
}

.roadmap-content {
  background: linear-gradient(180deg, #ffffff 0%, #f0ebe3 100%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 25px;
}

.roadmap-content ul {
  padding-left: 25px;
}

.roadmap-content ul li{
 line-height: 1.5;
 font-size: 18px;
 color: #000917;
 font-weight: 500;
}

.roadmap-content h3 {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.roadmap-content h5 {
 margin-bottom: 5px;
}

.roadmap-content h6{
 margin-bottom: 20px;
}

@media screen and (max-width: 835px){
   .container{
     padding: 0 30px;
   }

   .roadmap-wrapper{
    grid-template-columns: 1fr ;
   }
}