@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700;800;900&display=swap');

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Public Sans';
}

body {
  /* background: hsl(233, 8%, 62%); */
  /* background: #051f3e; */
  background:linear-gradient(180deg,  #051f3e 0%, #7dccf2 100%);
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

/* section{
 height: 100vh;
 display: flex;
 align-items: center;
} */

.container {
  max-width: 1440px;
  min-width: 100%;
  padding: 0 100px;
  margin: 0 auto;
  height: 100%;
}

.container h2,
.about-container h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
  /* color: #092e4e; */
  color: #ffffff;
  font-weight: 800;
}

.container h4,
.about-container h4 {
  /* color: #092e4e; */
  color: #ffffff;
  /* margin-bottom: 30px; */
}

.container h4 span,
.about-container h4 span {
  color: #051f3e;
  margin: 0 5px;
}

.container .header,
.about-container .header {
  text-align: center;
  margin-bottom: 50px;
}

.about-container .header h4 {
 margin-bottom: 30px;
}

.hero {
  color: #ffffff;
  padding-top: 50px;
}

.btn {
  margin-top: 40px;
}

.btn a {
  text-decoration: none;
  background: #ffffff;
  border-radius: 50px;
  padding: 15px 25px;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  color: #051f3e;
  transition: all 0.7s cubic-bezier(0.3, 0, 0.3, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.3, 0, 0.3, 1);
}

.btn a:hover {
  background: #051f3e;
  color: #ffffff;
}

.hero-content {
  display: flex;
  align-items: center;
}
.right {
  width: 50%;
}
.left {
  width: 50%;
  padding: 40px;
}
.name {
  padding: 20px 0;
  font-size: 75px;
  line-height: 1;
  color:whitesmoke;
}

.hero-content .social{
 margin-top: 20px;
}

.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.left h6 {
  margin-bottom: 20px;
  font-size: 18px;
}

.header {
  text-align: center;
  padding: 20px 0;
}

.roadmap {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.roadmap-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.roadmap-content {
  background: linear-gradient(180deg, #ffffff 0%, #f0ebe3 100%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 25px;
}

.roadmap-content ul {
  padding-left: 25px;
}

.roadmap-content ul li {
  line-height: 1.5;
  font-size: 18px;
  color: #000917;
  font-weight: 500;
}

.roadmap-content h3 {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.roadmap-content h5 {
  margin-bottom: 5px;
}

.roadmap-content h6 {
  margin-bottom: 20px;
}

.about {
  min-height: 100vh;
  align-items: center;
}

.about-container .header {
  padding: 0 100px;
}

.about-container .header p {
  color: #ffffff;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 1.5;
}

.about-container .header p span {
  color: #051f3e;
}

.token-wrapper{
 display: flex;
 justify-content: space-between;
 gap: 30px;
 padding-bottom: 50px;
}

.token-card{
 flex: 1
}

.card-header{
 display: flex;
 justify-content: space-between;
 align-items: center;
 border-bottom: 2px solid #051f3e;
 padding-bottom: 20px;
 margin-bottom: 10px;
}
footer{
  padding: 20px 0;
}

.social {
 display: flex;
 align-items: center;
 gap: 10px;
}

footer .container {
 display: flex;
 align-items: center;
 justify-content: space-between;

}

@media screen and (max-width: 835px) {
  .container {
    padding: 0 30px;
  }

  .name h1 {
    font-size: 45px;
  }

  .hero-content {
    width: 100%;
    flex-direction: column;
  }

  .left {
    width: 100%;
  }

  .roadmap-wrapper {
    grid-template-columns: 1fr;
  }

  .roadmap-content ul li {
    font-size: 16px;
  }

  .about-container .header {
    padding: 0 20px;
  }

  .token-wrapper{
   flex-direction: column;
  }

  footer .container{
   flex-direction: column;
   gap: 20px;
   align-items: center;
  }
}
.about-container {
  position: relative;
}
.swiper {
  width: 100%;
  height: 350px;
}

.swiper-slide {
  background: url(./images/bg.png) no-repeat bottom right #ffffff;
  padding: 30px;
  border-radius: 12px;
  background-size: 150px;
}

.swiper-slide h4 {
  color: #051f3e;
  margin-bottom: 20px;
}

.swiper-slide h6 {
  margin-bottom: 40px;
  font-size: 16px;
}

.swiper-slide p {
  line-height: 1.5;
}

/* .swiper-pagination {
 bottom: -50px !important;
} */
